<%- include('header') -%>
<%- include('menu') -%>
    <div class="jumbotron">
        <h1>Global Webpage Comment Form</h1>
        <p>add comments to any page on the web ...</p>
    </div>
    You entered the following.. <hr>
    The Username was:    <%= name %> <hr>
    The Feedbacks were:  <%= ideas %><hr>
<%- include('footer') -%>
